/* A style for ocamldoc. Daniel C. Buenzli */

body { padding: 0em;
       border: 0em;
       margin: 2em 10% 2em 10%;
       font-family: verdana,sans-serif; 
       font-size: 9pt;
       font-weight: normal; 
       line-height: 130%;
       text-align: justify;	
       background: white;	
       color : black;
       max-width: 75ex;
       min-width: 40ex; }


pre, p, div, span, img, table, td, ol, ul, li 
     { padding: 0em; border: 0em; margin: 0em }

h1, h2, h3, h4, h5, h6, h7, h8, h9 { padding: 1ex 0em 0em 0em;
	                             border: 0em;
	                             margin: 1em 0em 0em 0em;
                                     font-weight : bold; 
                                     font-family : sans-serif;
	                             text-align: left;
                                     border-top-style : dotted;
                                     border-width : thin; }
h1 { font-size : 140%}
h2 { font-size : 120%; border-top-style : none; margin: 1ex 0em 0em 0em }
h3, h4, h5, h6, h7, h8, h9 { font-size : 100%; border-top-style : none; }

.navbar { padding-bottom : 1em; margin-bottom: 1em }

p { padding: 1em 0ex 0em 0em }

a, a:link, a:visited, a:active, a:hover { color : #009; text-decoration: none } 
a:hover { color : #009; text-decoration : underline }

hr { border-style: none; } 
table { font-size : 100% /* Why ? */ }
ul li { padding: 1em 0em 0em 0em; margin:0em 0em 0em 2.5ex}
ol li { padding: 1em 0em 0em 0em; margin:0em 0em 0em 2em}

pre { margin: 3ex 0em 1ex 0em; } 
.keyword { font-weight: bold; color: black }
.keywordsign { color : black } 
.code { color : black }
.info { margin: 0em 0em 0em 2em }
.comment { color : red }
.constructor { color : #072 }
.type { color : black }
.string { color : #bc8f8f }
.warning { color : Red ; font-weight : bold }

div.sig_block {margin-left: 2em}
.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}

.superscript { font-size : 80% }
.subscript { font-size : 80% }

*:target {background-color: #FFFF99;}



